<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <div [hidden]="registered">
      <form class="example-form" [formGroup]="registrationForm" (ngSubmit)="onRegister()" #registerForm="ngForm">
        <h1>REGISTRATION FORM</h1>
        <mat-form-field class="example-full-width">
          <mat-label>FirstName</mat-label>
          <input matInput type="text" formControlName="firstName" placeholder="Joe">
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
          <mat-label>LastName</mat-label>
          <input matInput type="text" formControlName="lastName" placeholder="Smith">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>UserName</mat-label>
          <input matInput type="text" formControlName="userName" placeholder="smithJoe" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Course</mat-label>
          <mat-select formControlName="course" required>
            <mat-option *ngFor="let course of courses" [value]="course.value">
              {{course.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-radio-group aria-label="Gender" formControlName="gender">
          <mat-radio-button value="1">Male</mat-radio-button>
          <mat-radio-button value="2">Female</mat-radio-button>
          <mat-radio-button value="3">Don't want to specify</mat-radio-button>
        </mat-radio-group>
        <mat-form-field class="example-full-width">
          <mat-label>Address</mat-label>
          <textarea matInput formControlName="address" placeholder="Los Angeles"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" [errorStateMatcher]="passwordMatcher" required>
          <mat-hint>Retype your password</mat-hint>
          <mat-error *ngIf="passwordMatcher">
            Passwords don't match
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email" [errorStateMatcher]="emailMatcher" placeholder="Ex. pat@example.com" required>
          <mat-hint>Enter your email address ending with '@example.com'</mat-hint>
          <mat-error *ngIf="registrationForm.get('email').hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Enter your birthdate</mat-label>
          <input matInput [matDatepicker]="picker" fromControlName="birthDate" (dateInput)="calculateAge($event)" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker required></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Age in Years</mat-label>
          <input matInput type="text" formControlName="age" readonly>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Phone Number</mat-label>
          <input matInput type="text" formControlName="phone" pattern="[0-9]*" minlength="10" maxlength="10" required>
        </mat-form-field>
        <div class="example-button-row">
          <button mat-raised-button color="primary" [disabled]="!registerForm.form.valid">Register</button>
        </div>
        <p>Form Value: {{registrationForm.value | json}}</p>
        <p>Form Status: {{registrationForm.status}}</p>
      </form>
    </div>
    <div [hidden]="!registered">
      <p>You have successfully registered !</p>
      <div class="example-button-row">
        <button mat-raised-button color="primary" (click)="registered = false">GO Back</button>
        <button mat-raised-button color="primary" (click)="registered = true; login = false">Go to Login</button>
      </div>
    </div>
    <div [hidden]="login">
      <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onLogin()" #logForm="ngForm">
        <h1>LOGIN FORM</h1>
        <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>
          <input matInput type="text" formControlName="username" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required>
        </mat-form-field>
        <div class="example-button-row">
          <button mat-raised-button color="primary" [disabled]="!logForm.form.valid">Login</button>
        </div>
        <p>Form Value: {{loginForm.value | json}}</p>
        <p>FOrm Status: {{loginForm.status}}</p>
      </form>
      <div [hidden]="logged">
        <p>You have successfully logged in !</p>
        <div class="example-button-row">
          <button mat-raised-button color="primary" (click)="registered = false; login = true; logged = true">Go Back to Registration</button>
          <button mat-raised-button color="primary" (click)="registered = true; login = false; logged = true; logError = true">Try Again</button>
        </div>
      </div>
    </div>
  </body>
</html>